<div class="container gutter-no-top">
    <div class="box-title">
        <i class="fa fa-home"></i> Resumo do blog
    </div>
    <div class="grid grid-size-3">
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-television"></i> Posts Mais Vistos
            </div>
            <div class="description">
                <i class="fa fa-television"></i>68
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-link"></i> Categorias Mais Acessadas
            </div>
            <div class="description">
                <i class="fa fa-link"></i> 15
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue ">
            <div class="title">
                <i class="fa fa-lightbulb-o"></i> Termos mais buscados
            </div>
            <div class="description">
                <i class="fa fa-lightbulb-o"></i> 15
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>

    </div>
</div>