<div class="container gutter-no-top">
    <div class="box-title">
        <i class="fa fa-cube"></i> Resumo do suporte
    </div>
    <div class="grid grid-size-3">
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-refresh"></i> Tickets Abertos
            </div>
            <div class="description">
                <i class="fa fa-refresh"></i> 10
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-check"></i> Tickets Resolvidos
            </div>
            <div class="description">
                <i class="fa fa-check"></i>
                10
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-clock-o"></i> Média de resolução
            </div>
            <div class="description">
                <i class="fa fa-clock-o"></i> 23h
            </div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>

    </div>
</div>