<div class="container gutter">
    <div class="box-title">
        <i class="fa fa-home"></i> Resumo de Pedidos
    </div>
    <div class="grid grid-size-4">
        <div class="resume theme-yellow">
            <div class="title">
                <i class="fa fa-send-o"></i> {{titulo}}
            </div>
            <div class="description">68</div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-refresh"></i> Em Andamento
            </div>
            <div class="description">129</div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-check"></i> Concluídos
            </div>
            <div class="description">108</div>
            <a href="" class="link">
                <i class="fa fa-plus"></i> Detalhes
            </a>
        </div>
        <div class="resume theme-blue">
            <div class="title">
                <i class="fa fa-remove"></i> Cancelados
            </div>
            <div class="description">30</div>
            <a href="" class="link">
                <i class="fa fa-remove"></i> Detalhes
            </a>
        </div>
    </div>
</div>
